{
    "extends": ["plugin:react/recommended", "airbnb"],
    "parser": "babel-eslint",
    "env": {
      "node": true,
      "es6": true,
      "browser": true
    },
    "rules": {
      "comma-dangle": "off",
      "implicit-arrow-linebreak": "off",
      "indent": "error",
      "linebreak-style": [0, "error", "unix"],
      "no-param-reassign": 0,
      "no-trailing-spaces": "off",
      "react/jsx-curly-newline": 2,
      "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
      "react/jsx-props-no-spreading": "off",
      "react/state-in-constructor": "off",
      "react/static-property-placement": "off",
      "max-len": ["error", {"code": 120}]
    }
  }